# Example .env file
#   - The environment variables are set with detail information of 3 components:
#     1. The AI Core instance on which the embedding model is deployed
#     2. The HANA Cloud instance
#   - The "default" SAP AI Core resource group will apply when "RESOURCE_GROUP" is not set.
AICORE_AUTH_URL=https://***.authentication.***.hana.ondemand.com/oauth/token
AICORE_CLIENT_ID=sb-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx!xxxxxxx|aicore!xxxx
AICORE_CLIENT_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx$***
AICORE_RESOURCE_GROUP=***
AICORE_AI_API_URL=https://api.ai.***.hana.ondemand.com
HANA_DB_HOST=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.***.***.hanacloud.ondemand.com
HANA_DB_USER=***
HANA_DB_PASSWORD=***
HANA_DB_TABLE_NAME=***
FILE_DIRECTORY_PATH=pdfs
